* {
    margin: 0;
    padding: 0;
    box-shadow: none;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #9500ff;
    font-family: Arial, sans-serif;
}
.game-container {
    text-align: center;
}
#board {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    gap: 2px;
    background-color: #999;
    padding: 5px;
    border-radius: 5px;
    margin: 0 auto; 
    width: fit-content;
}
.cell {
    width: 40px;
    height: 40px;
    background-color: #ddd;
    border: 2px solid #fff;
    border-bottom-color: #999;
    border-right-color: #999;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.cell.revealed {
    background-color: #bbb;
    border: 1px solid #aaa;
    box-shadow: none;
}
.cell.mine {
    background-color: #ff0019; 
}

.cell:not(.revealed):hover {
    background-color: #ccc;
}
